#SERVER
SERVER_HOST=localhost
SERVER_PORT=8081

#LOGGER
LOGGER_LEVEL=local
LOGGER_CONSOLE_ENABLED=true
LOGGER_CONSOLE_FORMAT=json
LOGGER_CONSOLE_OUTPUT=stdout
LOGGER_FILE_ENABLED=true
LOGGER_FILE_FORMAT=json
LOGGER_FILE_PATH=./logs/app.log

#Postgres 
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=subservice
DB_SSLMODE=disable
DB_MAXCONNS=20
DB_MINCONNS=5
DB_MAXCONNLIFETIME=30m
DB_MAXCONNIDLETIME=5m
DB_HEALTHCHECKPERIOD=1m
